*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font: 300 1.2rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #c0c0c0;
    color: #000;
    text-align:center;
}

h1,h2 {
    
    font-weight: 300;
}
input, button, textarea{
    font: 400 18px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

button{
    cursor: pointer;
}

